# Nuxt dev/build outputs
.cache
.data
.nitro
.nuxt
.output
.vite
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Exclude specific example file
!apps/api/.env.example

# VSC
.history

# Storybook 7/8
*storybook.log
