
{% extends 'appshell.html' %}


{% block contentHeader %}

    <h1 class="text-3xl font-bold tracking-tight text-gray-900">Dashboard</h1>

{% endblock %}


{% block content %}



{% comment "" %}
<img src="{% static 'img/afb_icon_colour.png' %}" alt="Icon">
{% endcomment %}

{% comment "" %}
{% include 'forms/new_request.html' %}
{% endcomment %}

{% comment %}

  # Only renders form, no submit button. And only when a
  # FormView and form is valid.
  {{ form }}

  # See django docs for form_snippet.html.

{% endcomment %}


{% endblock %}
