#
# Requirements file for afb-requests. Modify this file to
# include the packages you want to install. Then, run:
#
#   pip-compile --output-file requirements.txt requirements.in
#
# This will generate a new requirements.txt file with the
# latest versions of the packages listed here.
#
# You can also run:
#
#   pip-compile --upgrade --output-file requirements.txt requirements.in
#
# to upgrade all packages to their latest versions.
#
# See: https://github.com/jazzband/pip-tools
#

Django==4.2.5
django-tailwind[reload]
django-unfold
django-crispy-forms
crispy-tailwind
pillow

phonenumbers
django-phonenumber-field

pip-tools
pre-commit

# Copilot suggestions
# django-extensions
# django-allauth
# django-address
# django-money
# django-countries
