

Django==4.2.5
django-tailwind[reload]
django-unfold
django-crispy-forms
crispy-tailwind
pillow

phonenumbers
django-phonenumber-field

# Copilot suggestions
# django-extensions
# django-allauth
# django-address
# django-money
# django-countries
