#
# Requirements file for afb-requests. Modify this file to
# include the packages you want to install. Then, run:
#
#   pip-compile --output-file requirements.txt requirements.in
#
# This will generate a new requirements.txt file with the
# latest versions of the packages listed here.
#
# You can also run:
#
#   pip-compile --upgrade --output-file requirements.txt requirements.in
#
# to upgrade all packages to their latest versions.
#
# To install the packages in the requirements.txt file, run:
#
#   pip install -r requirements.txt
#
# See: https://github.com/jazzband/pip-tools
#
#
# To resolve warnings in Django (important to do before upgrading):
#
#   python -Wa manage.py test
#
# See: https://docs.djangoproject.com/en/4.2/howto/upgrade-version/#upgrade-packages-individually

Django~=4.2

django_extensions
django-model-utils

django-vite

# DRF dependencies
# See: https://www.django-rest-framework.org/#installation
djangorestframework
markdown
django-filter


# Upgraded admin interface
django-unfold

django-phonenumber-field[phonenumbers]

pip-tools
pre-commit

# Probably not needed, now that we have django-vite
# django-tailwind[reload]
# django-crispy-forms
# crispy-tailwind
# pillow

# Dev dependencies
pytest
pytest-django
coverage
ipdb
