#
# Requirements file for afb-requests. Modify this file to
# include the packages you want to install. Then, run:
#
#   pip-compile --output-file requirements.txt requirements.in
#
# This will generate a new requirements.txt file with the
# latest versions of the packages listed here.
#
# You can also run:
#
#   pip-compile --upgrade --output-file requirements.txt requirements.in
#
# to upgrade all packages to their latest versions.
#
# See: https://github.com/jazzband/pip-tools
#

Django==4.2.5

django_extensions
django-vite

# DRF dependencies
# See: https://www.django-rest-framework.org/#installation
djangorestframework
markdown
django-filter


# Upgraded admin interface
django-unfold

phonenumbers
django-phonenumber-field

pip-tools
pre-commit

# Probably not needed, now that we have django-vite
# django-tailwind[reload]
# django-crispy-forms
# crispy-tailwind
# pillow
